{%extends 'base.html'%}


{%block body%}
<section>
    <h2>Developer portfolio</h2>
    <div class="row">
        <div class="column">
            <div class="content">
                <a target="_blank" href="static/image/Половов Олег.jpg">
                    <img src="static/image/Половов Олег.jpg" alt="Backend developer">
                </a>
                <h3>Flask backend developer</h3>
                <p>Я начинающий разработчик, и больших проектов у меня нет, сейчас развиваюсь в
                    разработке веб-приложение на Flask(пишу свой проект), а также делаю ботов в Телеграмм<br><br>
                    GitHub -> https://github.com/Mad-Irishman</p>
            </div>
        </div>
</section>
{%endblock%}